<!DOCTYPE html>
<html>
<head>
  <title>PLAYLISTER</title>
  <style>
    {% include 'style.css' %}
  </style>
</head>
<body onload="update()">
  <nav>
    <h1>PLAYLISTER</h1>
    <ul>
      {% for file, title in files_with_titles %}
        <li><a href="{{ file }}" target="iframe">{{ title }}</a></li>
      {% endfor %}
    </ul>
    <button onclick="previous()">Previous</button>
    <button onclick="next()">Next</button>
  </nav>
  <iframe id="iframe" name="iframe"></iframe>
  <script>
    {% include 'script.js' %}
  </script>
</body>
</html>

