@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400&display=swap'); */

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
}
iframe {
  border: none;
  background: #000;
  width: 75%;
  height: 100vh;
}
nav {
  width: 25%;
  background: #111;
  color: #ddd;
}
nav a {
  color: #ddd;
  text-decoration: none;
}
nav a.selected {
  color: #F90;
}
nav button {
  color: white;
  background: black;
  border: none;
  margin: 3px;
  padding 12px;
  width: 40%;
}
nav button:hover {
  background: #444;
}
