@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: black;
  color: white;
}

.print body {
  background-color: white;
  color: black;
}

pre {
  font-family: 'Fira Mono', monospace;
}

.line {
  page-break-inside: avoid;
  margin-top: 0.5em;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.7em;
}

.comment {
  font-style: italic;
}

.chords, .lyrics {
  margin: 0;
}

.chords {
  /* color: #F09; */
  color: #C09;
  font-weight: bold;
}

.chord {
  color: #F90;
  font-weight: bold;
}

section {
  page-break-inside: avoid;
  border-top: 2px #444 solid;
  margin-top: 2em;
}

.chord-table {
  /* font-family: 'Fira Sans', sans-serif; */
  margin-top: .5em;
}
.chord-section {
  margin-top: 2em;
}


/* Styles for Print */
@media print {
  body {
    background-color: white;
    color: black;
  }

  .print body {
    background-color: black;
    color: white;
  }
}

.chord-table-section td {
  font-family: "Fira Mono", monospace;
  text-align: center;
  font-size: 2em;
  padding: .25em;
  min-width: 100px;
}

table {
  page-break-inside: avoid;
}

table, th, td{
  border: 1px solid #444;
  border-collapse: collapse;
}
