body {
  font-family: 'Fira Sans', sans-serif;
  background-color: black;
  color: white;
}

.print body {
  background-color: white;
  color: black;
}

pre {
  font-family: 'Fira Mono', monospace;
}

.line {
  page-break-inside: avoid;
  margin-top: 0.5em;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.7em;
}

.comment {
  font-style: italic;
}

.chords, .lyrics {
  margin: 0;
}

.chords {
  color: #444;
  font-weight: bold;
}

.chord {
  color: #F90;
  font-weight: bold;
}

section {
  border-top: 2px #444 solid;
  margin-top: 2em;
}

.chord-table {
  /* font-family: 'Fira Sans', sans-serif; */
  margin-top: .5em;
}
.chord-section {
  margin-top: 2em;
}
.chord-line {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, auto);
  grid-auto-flow: column;

}

.chord-line > pre {
  padding: 10px;
  margin: 0;
  font-size: 2em;
  border: 1px solid #444;
}

/* Styles for Print */
@media print {
  body {
    background-color: white;
    color: black;
  }

  .print body {
    background-color: black;
    color: white;
  }
}

