@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: black;
  color: white;
}


header {
  display: flex;
}

header > h1 {
  width: 75%;
  margin-top: 0;
}

header > div {
  width: 25%;
  /* text-align: right; */
  padding-left: 3em;
}

header > div > p {
  margin: 0;
}
pre {
  font-family: 'Fira Mono', monospace;
}

.line {
  page-break-inside: avoid;
  margin-top: 0.5em;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.7em;
}

.comment {
  font-style: italic;
}

.chords, .lyrics {
  margin: 0;
}

.chords {
  /* color: #F09; */
  color: #C09;
  font-weight: bold;
}

.chord {
  color: #F90;
  font-weight: bold;
}

section {
  page-break-inside: avoid;
  border-top: 2px #444 solid;
  margin-top: 2em;
}

.chord-tables {
  page-break-before: always;
}

.chord-table {
  /* font-family: 'Fira Sans', sans-serif; */
  margin-top: .5em;
}
.chord-section {
  margin-top: 2em;
}


.chord-table-section td {
  font-family: "Fira Mono", monospace;
  text-align: center;
  font-size: 1.3em;
  padding: .2em;
  min-width: 100px;
}

table {
  page-break-inside: avoid;
}

table, th, td{
  border: 1px solid #444;
  border-collapse: collapse;
}

@page { 
  size:8.5in 11in; 
  margin: .25in;
}

/* Styles for Print */
@media print {
  body {
    background-color: white;
    color: black;
    font-size: 12pt;
  }
  .chords {
    color: #C39;
  }

  .chord {
    color: #F93;
  }

}

